/**
* breakpoints
*/
$MOBILE: 320px;
$TABLET: 769px;
$TABLET-L: 1024px;
$DESKTOP: 1279px;

/**
 * font-family
 */
$BASE-FONT:  'manrope', Helvetica, sans-serif;

/**
 * color
 */
$WHITE: #FFFFFF;
$BLACK: #000000;

/**
 * z-layer
 */


/**
 * font-weight
 */


/**
 * other
 */

$DESIGN-W: 1680px;
$DESIGN-H: 850px;
$DESIGN-W-M: 320px;

$WRAPPER-D: 1590px;
$WRAPPER-M: 290px;
